Source: ddar
Section: utils
Priority: optional
Maintainer: Robie Basak <rb@synctus.com>
Standards-Version: 3.9.1.0
Build-Depends: cdbs, debhelper (>= 5), python-all-dev (>= 2.5), python-support,
 xmltoman, protobuf-compiler
Homepage: http://www.synctus.com/ddar
XS-Python-Version: >= 2.5

Package: ddar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-protobuf
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Store multiple files efficiently in a de-duplicated archive
