#!/usr/bin/make -f

# -O3 preferred to get the store chunk analysis to go as fast as possible
CFLAGS = -g -Wall -O3

%:
	dh --with=python2 $@

override_dh_auto_configure:
	make -f Makefile.prep pydist
	dh_auto_configure

override_dh_clean:
	dh_clean
	rm -f ddar.1
